.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight: 700;
  color: #3b3b3b;
}

.form {
  width: 100%;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: flex-end;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}

.details {
  width: 100%;
  max-width: 40%;
  padding: 50px 0 0;
  display: flex;
  flex-direction: column;
  font-size: 26px;
  color: #502f19;
}

.color {
  color: #e3742d;
}

.details div {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.textareaWrap {
  max-width: 100%;
}

.inputWrap label {
  color: #502f19;
  font-size: 24px;
  margin: 10px 0;
}

.inputWrap input {
  height: 40px;
  color: #fff;
  font-size: 21px;
  border-radius: 20px;
  background: #e3742d;
  border: 3px solid #e3742d;
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
}

.textareaWrap textarea {
  background: #74ac28;
  border: 3px solid #74ac28;
  font-size: 21px;
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  color: #fff;
  box-sizing: border-box;
}
.textareaWrap textarea:focus {
  box-shadow: 0 0 5px 0 #74ac28;
}

.inputWrap input:focus {
  box-shadow: 0 0 5px 0 #e3742d;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 160px;
  resize: none;
}

.hidden {
  visibility: hidden;
}

.button {
  box-shadow: 0 4px 0 #502f19;
  background-color: #502f19;
  border: none;
  color: #fff;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 20px 0;
  min-width: 150px;
  font-weight: 700;
  max-width: 150px;
}

@media (max-width: 1019px) {
  .container {
    max-width: 100%;
    padding: 10px 10px;
  }

  .form {
    padding: 20px 0 0;
  }

  .inputs {
    flex-direction: column;
  }

  .inputWrap {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
