.headerImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  display: flex;
  height: 1012px;
}

.shortVersion {
  height: 704px;
}

.image {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.imageMobile {
  width: 100%;
  display: none;
}

.barImage {
  position: absolute;
  z-index: 9999;
  top: 575px;
  max-width: 1200px;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar {
  position: relative;
  top: -75px;
  height: 75px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  color: #f9bf81;
  font-size: 25px;
}

.separator {
  color: #5a331a;
  font-family: "Luckiest Guy", cursive;
  font-size: 62px;
  font-weight: 800;
  padding: 0 20px;
  text-transform: uppercase;
}

.separatorWrapper {
  z-index: 1;
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  top: 20px;
}

.separator::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #5a331a;
  top: 25px;
  z-index: -2;
}

/* @media (min-width: 1440px) {
  .navbar {
    top: -60px;
    height: 60px;
  }
}

@media (min-width: 1920px) {
  .navbar {
    top: -70px;
    height: 70px;
  }
} */

.navbar ul {
  display: flex;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.navbar li {
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar a {
  color: inherit;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1019px) {
  .separator {
    font-size: 32px;
  }
  .separator::after {
    top: 10px;
  }

  .imageMobile {
    display: block !important;
  }

  .headerImageMobile {
    display: block !important;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    height: auto;
  }

  .image,
  .navbar,
  .headerImage {
    display: none;
  }
}
